*

!.gitignore
!.gitattributes
!.dockerignore
!LICENSE
!README.md
!README_zh-cn.md

!pyproject.toml
!uv.lock

!Dockerfile
!docker-compose.yml

!train_RCCNet.py
!train_RotNet.py
!train_RotNetR.py
!test_RCCNet.py
!test_RotNet.py
!test_RotNetR.py
!quant_RotNetR.py
!test_captcha.py
!server.py

!src
!src/**

!models
!models/**

!GUIDE.docx

__pycache__
